$primary-color: #b08968;
$secondary-color: #7f5539;
$light-brown: #ede0d4;
$dark-brown: #432818;

@mixin btn {
  text-decoration: none;
  background-color: $secondary-color;
  color: $light-brown;
  font-size: 1.25rem;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  &:hover {
    background-color: $light-brown;
    color: $dark-brown;
  }
}

body {
  margin: 0;
  height: 100vh;
  font-family: 'Courier New', Courier, monospace;
  // display: grid;
  // grid-template-rows: repeat(3);
}

.header {
  background-color: $primary-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 10px;

  &__title {
    margin: 0;
    color: $dark-brown;
  }
  &__logo {
    height: 100px;
  }

  // &__product-btn {
  //   @include btn;
  // }
  
  // &__contact-btn {
  //   @include btn;
  // }
}

.header-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: $secondary-color;
  overflow-x: hidden;
  padding-top: 30px;
  transition: 0.5s;

  &__contact-btn ,
  &__product-btn,
  #close-btn {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.75rem;
    color: $light-brown;
    display: block;
    transition: 0.3s;
  }

  #close-btn {
    margin: 20px 0;
  }
}

.main-body {
  &__hero {

    &--img {
      height: 400px;
      width: 100%;
      object-fit: cover;
    }

    &--txt {
      position: absolute;
      top: 50%;
      left: 50%;
      // transform: translate(-50%, -50%);
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  background-color: $light-brown;
  // height: 65px;
  width: 100%;

  &__trademark,
  &__disclosure  {
    text-align: center;
    margin: 3px;
    color: $dark-brown;
  }
}