$primary-color: #b08968;
$secondary-color: #7f5539;
$light-brown: #ede0d4;
$dark-brown: #432818;

@mixin btn {
  text-decoration: none;
  background-color: $secondary-color;
  border: 2px solid $secondary-color;
  color: $light-brown;
  font-size: 1.25rem;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    background-color: $light-brown;
    color: $dark-brown;
  }
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.header {
  background-color: $primary-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 10px;

  &__title {
    color: $dark-brown;
    margin: 0;
  }
}

.nav {
  &--desktop {
    display: none;
  }

  &--mobile {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: $secondary-color;
    overflow-x: hidden;
    padding-top: 30px;
    transition: 0.5s;
    
  }
}

.header-nav {
  &__contact-btn ,
  &__product-btn,
  #close-btn {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.75rem;
    color: $light-brown;
    display: block;
    transition: 0.3s;
    white-space: nowrap;
    cursor: pointer;
  }
  
  #close-btn {
    margin: 20px 0;
  }
}

.main-body {
  &__hero {
    position: relative;
    width: 100%;
    height: 400px;

    &--img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &--txt {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: $dark-brown;
      
      p {
        border-radius: 5px;
        background-color: rgba($primary-color, 0.8);
        font-size: 2rem;
        font-weight: bold;
        padding: 20px;
      }
    }
  }
}

.main-description {
  &__greeting,
  &__about {
    padding: 20px;
    color: $dark-brown;
    text-align: center;
  }

  &__greeting {
    font-size: 1.5rem;
  }

  &__about {
    background-color: $secondary-color;
    color: $light-brown;
  }
}

.main-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100px;

  &__btn {
    @include btn;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $light-brown;
  width: 100%;

  &__trademark,
  &__disclosure  {
    text-align: center;
    margin: 3px;
    color: $dark-brown;
  }
}

// Media Queries
@media screen and (min-width: 768px) {
  #hamburger-icon {
    display: none;
  }

  .nav--desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header {
    &__product-btn,
    &__contact-btn {
      @include btn;
      margin: 0 5px;
    }
  }

  .main-links {
    max-width: 50vw;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  .main-links {
    max-width: 30vw;
    margin: 0 auto;
  }
}