$primary-color: #b08968;
$secondary-color: #7f5539;
$light-brown: #ede0d4;
$dark-brown: #432818;

@mixin btn {
  text-decoration: none;
  background-color: $secondary-color;
  color: $light-brown;
  font-size: 1.25rem;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    background-color: $light-brown;
    color: $dark-brown;
  }
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  margin: 10px 0 0;
}

.header {
  background-color: $primary-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 10px;

  &__title {
    margin: 0;
    color: $dark-brown;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      color: $light-brown;
      cursor: pointer;
    }
  }

  // &__logo {
  //   height: 100px;
  // }

  &__home-btn,
  &__contact-btn {
    @include btn;
  }
}

.product-sec {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 30px 0;

  &__card {
    border-radius: 10px;
    background-color: $light-brown;
    // height: 400px;
    width: 300px;
    margin: 10px;

    img {
      border-radius: 10px 10px 0 0;
      width: 100%;
      height: 300px;
      object-fit: cover;
    }

    p, h2 {
      color: $dark-brown;
      padding: 8px;
      margin: 0;
    }
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $light-brown;
  height: 50px;
  width: 100%;

  p {
    margin: 0;
    color: $dark-brown;
  }
}