$primary-color: #b08968;
$secondary-color: #7f5539;
$light-brown: #ede0d4;
$dark-brown: #432818;

@mixin btn {
  text-decoration: none;
  background-color: $secondary-color;
  border: 2px solid $secondary-color;
  color: $light-brown;
  font-size: 1.25rem;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    background-color: $light-brown;
    color: $dark-brown;
  }
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Courier New', Courier, monospace;
}

main {
  flex-grow: 1;
  margin: 10px 0 0;
}

.header {
  background-color: $primary-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 10px;

  &__title {
    color: $dark-brown;
    margin: 0;
  }
}

.nav {
  &--desktop {
    display: none;
  }

  &--mobile {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: $secondary-color;
    overflow-x: hidden;
    padding-top: 30px;
    transition: 0.5s;
    
  }
}

.header-nav {
  &__contact-btn ,
  &__home-btn,
  #close-btn {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.75rem;
    color: $light-brown;
    display: block;
    transition: 0.3s;
    white-space: nowrap;
    cursor: pointer;
  }
  
  #close-btn {
    margin: 20px 0;
  }
}

.product-sec {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 30px 0;

  &__card {
    border-radius: 10px;
    background-color: $light-brown;
    width: 300px;
    margin: 10px;

    img {
      border-radius: 10px 10px 0 0;
      width: 100%;
      height: 300px;
      object-fit: cover;
    }

    p, h2 {
      color: $dark-brown;
      padding: 8px;
      margin: 0;
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $light-brown;
  width: 100%;

  &__trademark,
  &__disclosure {
    text-align: center;
    margin: 3px;
    color: $dark-brown;
  }
}

// Media Queries
@media screen and (min-width: 768px) {
  #hamburger-icon {
    display: none;
  }

  .nav--desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header {
    &__home-btn,
    &__contact-btn {
      @include btn;
      margin: 0 5px;
    }
  }

}

@media screen and (min-width: 1024px) {

}