$primary-color: #b08968;
$secondary-color: #7f5539;
$light-brown: #ede0d4;
$dark-brown: #432818;

@mixin btn {
  text-decoration: none;
  background-color: $secondary-color;
  border: 2px solid $secondary-color;
  color: $light-brown;
  font-size: 1.25rem;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    background-color: $light-brown;
    color: $dark-brown;
  }
}

@mixin input-box {
  border: none;
  border-radius: 10px;
  padding: 8px;
  width: 300px;

  &:focus {
    outline-color: $secondary-color;
  }
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  margin: 10px 0;
}

.header {
  background-color: $primary-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 10px;

  &__title {
    color: $dark-brown;
    margin: 0;
  }
}

.nav {
  &--desktop {
    display: none;
  }

  &--mobile {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: $secondary-color;
    overflow-x: hidden;
    padding-top: 30px;
    transition: 0.5s;
  }
}

.header-nav {
  &__home-btn ,
  &__product-btn,
  #close-btn {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.75rem;
    color: $light-brown;
    display: block;
    transition: 0.3s;
    white-space: nowrap;
    cursor: pointer;
  }
  
  #close-btn {
    margin: 20px 0;
  }
}

.contact-sec {
  background-color: $light-brown;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 375px;
  border-radius: 10px;
  margin: 0 auto;

  &__title {
    color: $dark-brown;
    font-size: 2rem;
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__label {
    color: $dark-brown;
    font-size: 1.25rem;

    &--required:after {
      content: " *";
      color: firebrick;
    }
  }
  
  &__submit-btn {
    @include btn;
    border: none;
    width: 100%;
    margin: 20px 0;
    
    &:hover {
      border: 2px solid $dark-brown
    }
  }

  input,
  textarea {
    @include input-box;
    margin: 0 0 15px 0;
  }

  textarea {
    height: 100px;
    margin: 0;
  }

  #character-output {
    font-size: 0.9rem;
    margin: 3px;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $light-brown;
  width: 100%;

  &__trademark,
  &__disclosure  {
    text-align: center;
    margin: 3px;
    color: $dark-brown;
  }
}

@media screen and (min-width: 768px) {
  #hamburger-icon {
    display: none;
  }

  .nav--desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header {
    &__product-btn,
    &__home-btn {
      @include btn;
      margin: 0 5px;
    }
  }

  main {
    margin: 30px;
  }

  .contact-sec {
    max-width: 500px;
    padding: 20px 0;
  }
}

@media screen and (min-width: 1024px) {
  main {
    height: 80vh;
  }

  .contact-sec {
    max-width: 600px;
  }
}