body {
  margin: 0;
  min-height: 100vh;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  margin: 10px 0;
}

.header {
  background-color: #b08968;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 10px;
  position: sticky;
  top: 0;
}
.header__title {
  color: #432818;
  margin: 0;
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: bold;
}
.header__title:hover {
  color: #ede0d4;
}

.nav--desktop {
  display: none;
}
.nav--mobile {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #7f5539;
  overflow-x: hidden;
  padding-top: 30px;
  transition: 0.5s;
}

.header-nav__home-btn, .header-nav__product-btn,
.header-nav #close-btn {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 1.75rem;
  color: #ede0d4;
  display: block;
  transition: 0.3s;
  white-space: nowrap;
  cursor: pointer;
}
.header-nav #close-btn {
  margin: 20px 0;
}

.contact-sec {
  background-color: #ede0d4;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 375px;
  border-radius: 10px;
  margin: 0 auto;
}
.contact-sec__title {
  color: #432818;
  font-size: 2rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.contact-form__label {
  color: #432818;
  font-size: 1.25rem;
}
.contact-form__label--required:after {
  content: " *";
  color: firebrick;
}
.contact-form__submit-btn {
  text-decoration: none;
  background-color: #7f5539;
  border: 2px solid #7f5539;
  color: #ede0d4;
  font-size: 1.25rem;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  margin: 20px 0;
  font-family: "Courier New", Courier, monospace;
}
.contact-form__submit-btn:hover {
  background-color: #ede0d4;
  color: #432818;
}
.contact-form input,
.contact-form textarea {
  border: none;
  border-radius: 10px;
  padding: 8px;
  width: 300px;
  margin: 0 0 15px 0;
}
.contact-form input:focus,
.contact-form textarea:focus {
  outline-color: #7f5539;
}
.contact-form textarea {
  height: 100px;
  margin: 0;
}
.contact-form #character-output {
  font-size: 0.9rem;
  margin: 3px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ede0d4;
  width: 100%;
}
.footer__trademark, .footer__disclosure {
  text-align: center;
  margin: 3px;
  color: #432818;
}
.footer__socials {
  margin: 20px 0;
}
.footer__disclosure {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  #hamburger-icon {
    display: none;
  }
  .nav--desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__product-btn, .header__home-btn {
    text-decoration: none;
    background-color: #7f5539;
    border: 2px solid #7f5539;
    color: #ede0d4;
    font-size: 1.25rem;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 5px;
  }
  .header__product-btn:hover, .header__home-btn:hover {
    background-color: #ede0d4;
    color: #432818;
  }
  main {
    margin: 30px;
  }
  .contact-sec {
    max-width: 500px;
    padding: 20px 0;
  }
}
@media screen and (min-width: 1024px) {
  main {
    height: 80vh;
  }
  .contact-sec {
    max-width: 600px;
  }
}/*# sourceMappingURL=contact.css.map */